<!doctype html>
<html data-framework="vue">
    <head>
        <meta charset="utf-8">
        <title>Share the partners information.</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
       <style> [v-cloak] { display: none; } </style>
    </head>
    <body>
        <section class="todoapp" v-cloak>
            <header class="header">
                <h1>Informations</h1>
                <div>
                    <span>Enter your todo</span>
                    <input v-model="newTodo" @keyup.enter="addTodo">
                </div>
                <div>
                    <span>Todo type</span>
                    <select v-model="newTodoType">
                        <option v-for="list in todoTypes" :value="list.title">{{ list.title }}</option>
                    </select>
                </div>
            </header>
            <section class="main" v-show="todos.length">
                <ul class="todo-list">
                    <li class="todo" v-for="todo in filteredTodos">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="todo.completed">
                            <span @click="editTodo(todo)">{{todo.title}}</span>
                            <span >{{todo.type}}</span>
                            <button class="destroy" @click="removeTodo(todo)">×</button>
                        </div>
                        <input class="edit" type="text" v-model="todo.title">
                        <select v-model="todo.type">
                            <option v-for="list in todoTypes" :value="list.title">{{ list.title }}</option>
                        </select>
                    </li>
                </ul>
            </section>
            <footer class="footer" v-show="todos.length">
                <span class="todo-count">
                    <strong v-text="remaining"></strong> {{pluralize('item', remaining)}} left
                </span>
                <ul class="filters">
                    <li><a href="#/all" :class="{selected: visibility == 'all'}">All</a></li>
                    <li><a href="#/active" :class="{selected: visibility == 'active'}">Active</a></li>
                    <li><a href="#/completed" :class="{selected: visibility == 'completed'}">Completed</a></li>
                </ul>
                <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
                    Clear completed
                </button>
            </footer>
        </section>
        <footer class="info">
            <p>Share the partner's ToDos.</p>
        </footer>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="js/sharing-todo-store.js?v=0.01"></script>
        <script src="js/sharing-todo-type-store.js?v=0.01"></script>
        <script src="js/sharing-todo-app.js?v=0.01"></script>
    </body>
</html>
