<!doctype html>
<html data-framework="vue">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <title>Share the partners request.</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet"  href="node_modules/buefy/lib/buefy.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
       <style> [v-cloak] { display: none; } </style>
    </head>
    <body>
        <section class="todoTypeApp container is-fluid" v-cloak>
            <header class="hero">
                <div class="hero-head">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-brand">
                                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                            <div id="navbarMenuHeroA" class="navbar-menu">
                                <div class="navbar-end">
                                    <a class="navbar-item" href="./index.html">all todos</a>
                                    <a class="navbar-item is-active" href="./todo_types.html">todo types</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="hero-body">
                    <h1 class="title">Todo Types</h1>
                </div>
            </header>
            <section class="add-area section">
                <div class="field">
                    <label class="label">Enter todo type name</label>
                    <div class="control">
                        <input class="input" v-model="newTodoType">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Choose todo type color</label>
                    <div class="control">
                        <input  class="button" type="color" v-model="newTodoTypeColor">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" @click="addTodoType">Create</button>
                    </div>
                </div>
            </section>
            <section class="main section" v-show="todoTypes.length">
                <h2 class="title">Todo Types</h1>
                <div class="todo-types card" v-for="todoType in todoTypes">
                    <div class="card-header" @click="editTodoType(todoType)" :style="typeColor(todoType.color)">
                        <div class="card-header-title">{{todoType.title}}</div>
                        <div class="card-header-icon">
                            <a class="delete" @click="removeTodoType(todoType)"></a>
                        </div>
                    </div>
                    <div class="view field card-content">
                        <input class="edit" type="text" v-model="todoType.title">
                        <input type="color" v-model="todoType.color">
                    </div>
                </div>
            </section>
            <footer class="section container">
                Todo type is as yours.
                <a href="./index.html">All todos</a>
            </footer>
        </section>
        <footer class="footer">
            <p>Share the partner's ToDos.</p>
        </footer>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="node_modules/buefy/lib/index.js"></script>
        <script src="js/sharing-todo-type-store.js?v=0.00"></script>
        <script src="js/sharing-todo-type-app.js?v=0.02"></script>
    </body>
</html>
