<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js  tutorial</title>
        <style >
            .active {
                background: #e1fffe;
            }
            .error-has-occured {
                color: #f00;
            }
        </style>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>
        <div id="app-2">
            <span v-bind:title="title_message">
                this is a v-bind:title test
            </span>
        </div>
        <div id="app-3">
            <p v-if="seen">Now you see me.</p>
            <input type="radio" name="cs" value="1" v-model="change_seen" id="cs_1"/>
            <label for="cs_1">seen</label>
            <input type="radio" name="cs" value="0" v-model="change_seen" id="cs_2"/>
            <label for="cs_2">hide</label>
        </div>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage" >reverse message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input type="text" v-model="message">
        </div>
        <div id="app-7">
            <ol>
                <li is="todo-item" v-for="item in groceryList" v-bind:todo="item"></todo-item>
            </ol>
        </div>
        <div id="example">
            <p>Check val is {{ chkVal }}</p>
            <p>Check val's type is {{ typeOfChkVal }}</p>
        </div>
        <div id="example-2">
            <div class="inline-class" v-bind:class="classObject">bind class test.</div>
            <input type="checkbox" v-model="checkError" id="check_error"/><label for="check_error">check error</label>
            <my-component class="baz boo"></my-component>
        </div>
        <div id="example-3">
            <div v-bind:style="styleObject">Style bind test</div>
            <template v-if="chk === 'A'">
                <p>A:use template tag and v-if</p>
            </template>
            <template v-else-if="chk === 'B'">
            <p>{{ chk }}:use template tag and v-if</p>
            </template>
            <template v-else>
                <p>Other:use template tag and v-if</p>
            </template>
        </div>
        <ol id="v-for-object">
            <li v-for="(value, key, index) in object" :id="'v-for-' + index" :key="'v-for-' + index">
                {{ index }} : {{ key }} : {{ value }}
            </li>
        </ol>
        <ol id="listObject">
            <li v-for="item in items">
                {{ item.message }}
            </li>
            <li v-for="num in evenNumbers">
                {{ num }}
            </li>
        </ol>
        <div id="v-for-test">
            <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add new ToDo">
            <ul>
                <li is="todo-item" v-for="(todo, index) in todos" :key="todo.id" :title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
            </ul>
        </div>
        <div id="v-model-test">
            <input v-model="msg">
            <p>Message is : {{ msg }}</p>
            <input v-model.lazy="lazyMsg">
            <p>Lazy message is : {{ lazyMsg }}</p>
        </div>
        <div id="check-property-test">
            <prop-example v-bind="propList"></prop-example>
        </div>
        <div id="counter-event-example">
            <p>{{ total }}</p>
            <button-counter v-on:increment="incrementTotal"></button-counter>
            <button-counter v-on:increment="incrementTotal"></button-counter>
        </div>
        <div id="calc-total">
            <currency-input label="price" v-model="price"></currency-input>
            <currency-input label="shipping" v-model="shipping"></currency-input>
            <p>Total : {{ total }}</p>
        </div>
        <style type="text/css">
            .fade-enter-active, .fade-leave-active {
                transition: opacity .5s;
            }
            .fade-enter, .fade-leave-to {
                opacity: 0;
            }
        </style>
        <div id="transition-demo">
            <button @click="show = !show">Toggle</button>
            <transition name="fade">
                <p v-if="show">Hey!!</p>
            </transition>
        <div>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="js/vue-tutorial.js?v=0.45"></script>
    </body>
</html>
