<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js  tutorial</title>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>
        <div id="app-2">
            <span v-bind:title="title_message">
                this is a v-bind:title test
            </span>
        </div>
        <div id="app-3">
            <p v-if="seen">Now you see me.</p>
        </div>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage" >reverse message</button>
        </div>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                    el: "#app",
                    data: {
                        message: 'Hello vue js!!'
                    }
                });
            var app2 = new Vue({
                    el: "#app-2",
                    data: {
                        title_message: 'You loaded this page on ' + new Date().toLocaleString()
                    }
                });
            var app3 = new Vue({
                    el: "#app-3",
                    data: {
                        seen: true
                    }
                });
            var app4 = new Vue({
                    el: "#app-4",
                    data: {
                        todos: [
                            { text: 'Learn javascript!!' },
                            { text: 'Vue.js is easy?' },
                            { text: 'Loop test' }
                        ]
                    }
                });
            var app5 = new Vue({
                   el: "#app-5",
                    data: {
                        message: 'Hello vue js!!'
                    },
                    methods: {
                        reverseMessage: function () {
                            this.message = this.message.split('').reverse().join('')
                        }
                    }
                });

        </script>
    </body>
</html>
